<h1><%= @question.name %></h1>
<p><%= @question.description %></p>

<% if @question.answers.any? %>
<h4>Answers:</h4>
<ul>
  <%= @question.answers.each do |answer|  %>
  <li>
    <%= answer.content %>
    <%= answer.author %>
    <%= link_to "Edit", edit_question_answer_path(@question, answer) %>
    <%= link_to "delete", question_answer_path(@question, answer),
                                  :data => {:confirm => "Are you sure?",
                                    :method => "delete"} %>
    </li>
  <% end %>
</ul>
<% else %>
  <p>There arent any answers to this question yet!</p>
  <% end %>

  <p><%= link_to "Add an Answer", new_question_answer_path(@question) %></p>

<p><%= link_to "Return to Quesions", user_questions_path(current_user.id) %></p>
<p><%= link_to "Edit", edit_user_question_path(current_user.id, @question) %></p>
<p><%= link_to "Delete", user_question_path(current_user.id, @question),
                        :data => {:confirm => "Really?",
                                  :method => "delete"}%></p>
